<h1>{{title}}</h1>

<p>
  Event data from
  <a href="http://www.songkick.com">
    <img src="img/sm_logo.png" alt="Songkick.com"></img>
  </a>
</p>

<table class="event-listings">
  <thead>
    <tr>
      <th>Date</th>
      <th>Artists</th>
      <th>Venue</th>
      <th>Link</th>
      <th>Video</th>
    </tr>
  </thead>
  <tbody>
    {{#each events}}
      <tr>
        <td>{{this.start.datetime}}</td>
        <td>{{this.displayName}}</td>
        <td>{{this.venue.displayName}}</td>
        <td><a href="{{this.uri}}">GO!</a></td>
        <td>
          {{#if this.videoUrl}}
            <img src="{{this.videoThumbnail}}"
                 class="thumbnail"
                 onclick="loadVideo(this)"
                 data-video-url="{{this.videoUrl}}">
            </img>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<p> You are on page {{pageNumber}} </p>
<p> There are {{totalPages}} pages</p>
